@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    margin: 0 auto;
    border-top-color: var(--primary-500);
    animation: spinner 0.3s linear infinite;
  }


  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #d2ffae;
    border-bottom-color: #3cff00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
  
    .loader-parent{
    display: flex;
    justify-content: center;
    
    }


.nav-color{
  
    background: rgb(74,222,128)!important;
background: linear-gradient(90deg, rgba(74,222,128,1) 0%, rgba(59,130,246,1) 84%)!important;
}

.side-color{
    background: rgb(30,64,175);
    background: linear-gradient(90deg, rgba(30,64,175,1) 0%, rgba(147,51,234,1) 84%);
}

.side-logo{
    height: 50px;
    width: 50px;
    color: aliceblue;
    background-color: aliceblue;
    border-radius: 50px;
    border: 1px solid white;
}

.add-color{
    /* width: 172.91px !important; */
    height: 52px !important;
    padding: 0 10px;
    background-color: #22C55E !important;
    color: white;
    outline: none;
    border: none;
}

.add-color:hover{
    color: white !important;
    background-color: #136e34 !important;
}

